// fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand');

// Variables
$font-quicksand: 'Quicksand', sans-serif;

// Colors
$brand-primary:         #27ae60;
$brand-orange:          #ff6000;

$fa-font-path:          '~font-awesome/fonts';
